/* Grid */

.App {
  text-align: center;
  display: grid;
  height:100%;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "n s s s s s"
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: s;
}

/* Rest of CSS */

a {
  color:#000000;
}

/* Send message form */
.send-message-form input {
  width:100%;
  background:#e6e6e6;
  height:100%;
  border:none;
}

.message-list {
  
}

.rooms-list ul {
  background: #6197fb;
  color:#FFFFFF;
  list-style: none;
  padding:30px;
  margin:0;
  padding-bottom:20px;
  font-size: 20px;

}

.new-room-form {
  width:100%;
  height:100%;
  border:none;
  background: #6197fb;
  font-size:18px;
}

.new-room-form input {
  border:none;
  padding:10px;
  font-size:19px;
}

#create-room-btn {
  color:#000000;
  padding:5px;
  margin:15px;
  border:none;
  background:#FFFFFF;
  border-radius:10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
